@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-ExtraBold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-UltraLight.ttf);
  font-weight: 200;
  font-style: normal;
}
/*подключаемые файлы*/
body {
  color: #ffffff;
  font-size: 14px;
}
.first-screen {
  width: 1903px;
  /*height: 1025px;*/
  background: url(../img/bg-first-screen.jpg) 0 0 no-repeat;
  margin: 0 auto;
}
/*.padding-site {
  padding: 0 19.5% 0 19.5%;
}*/
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding-top: 40px;
}
.header-nav-logo {
  margin-right: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav-logo-title {
  font-family: Raleway;
  font-size: 34px;
  font-weight: 400;
}
.header-nav-logo,
.nav-top-link,
.cart-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}
.nav-top-link:hover,
.header-nav-logo:hover {
  color: #c7b299;
}
.nav-top-link {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
}
.nav-top,
.cart-search {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}
.nav-top-list {
  padding-right: 30px;
}
.nav-top-list:nth-child(8) {
  padding-right: 0;
}
.cart-search {
  width: 70px;
  margin-left: 65px;
}
.cart {
  margin-right: 28px;
}
.cart-link:before {
  display: block;
  content: "";
  width: 18px;
  height: 24px;
  top: -2px;
  left: -30px;
  background-image: url(../img/cart.png);
  background-size: cover;
}
.label-search {
  display: none;
}
.search:before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  top: -2px;
  left: -30px;
  background-image: url(../img/search.png);
  background-size: cover;
}
/*-Slider-*/
.slider {
  width: 100%;
  font-family: Raleway, sans-serif;
  text-align: center;
}
.slider-heading {
  display: block;
  margin: 287px 0 15px 0;
  font-size: 36px;
  font-weight: 500;
}
.slider-heading-h2 {
  display: block;
  margin: 0 0 29px 0;
  font-size: 52px;
  font-weight: 700;
}
.slider-heading-description {
  margin: 0 0 52px 0;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
}
.button {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 0 15px 0;
  margin: 0 874px 300px 875px;
  width: 170px;
  background-color: #998675;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
}
.slider-item {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}
.slider-item-link {
  display: inline-block;
  text-decoration: none;
  margin: 0 15px 0 0;
  width: 11px;
  height: 11px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.slider-item-link:nth-child(5) {
  margin-right: 0;
}
.slider-item-link:active {
  background-color: transparent;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #d3c1ad;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */